/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #ffffff;
  font-size: 17px;
  line-height: 25px;
  font-family: 'El Messiri', sans-serif;
  min-width: 320px;
  color: #000; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    outline: none; }

.btn-menu {
  background: transparent;
  padding: 0; }
  .btn-menu:hover {
    background: transparent; }

img {
  width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
  width: 100%; }

.btn-scroll {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: linear-gradient(45deg, #9dcbff 31%, #69fbff);
  padding: 20px;
  border: none;
  border-radius: 50%; }
  @media only screen and (max-width: 767px) {
    .btn-scroll {
      right: 10px;
      bottom: 10px;
      padding: 15px; } }
  .btn-scroll:after {
    content: "\f077";
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff; }
    @media only screen and (max-width: 767px) {
      .btn-scroll:after {
        font-size: 25px; } }
  .btn-scroll:hover {
    cursor: pointer;
    border: 2px solid #6CF8FF;
    transition: all .25s ease; }

.header {
  padding: 20px 0 40px; }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 20px 0; } }

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.logo {
  display: inline-flex; }
  .logo img {
    width: 70px; }
    @media only screen and (max-width: 767px) {
      .logo img {
        width: 50px; } }

.menu-navigation-wrap {
  display: flex;
  max-width: 800px; }
  @media only screen and (max-width: 767px) {
    .menu-navigation-wrap {
      position: fixed;
      z-index: 25;
      top: 0;
      right: 200%;
      width: 100%;
      transition: all .25s ease;
      max-width: inherit; } }
  .menu-navigation-wrap .menu-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    @media only screen and (max-width: 1190px) {
      .menu-navigation-wrap .menu-navigation {
        padding: 0; } }
    @media only screen and (max-width: 1023px) {
      .menu-navigation-wrap .menu-navigation {
        min-width: 400px; } }
    @media only screen and (max-width: 767px) {
      .menu-navigation-wrap .menu-navigation {
        display: block;
        padding: 80px 40px;
        background: linear-gradient(45deg, #9dcbff 31%, #69fbff);
        min-height: 100vh;
        min-width: inherit;
        text-align: center; } }
    .menu-navigation-wrap .menu-navigation li {
      padding: 0 30px; }
      @media only screen and (max-width: 767px) {
        .menu-navigation-wrap .menu-navigation li {
          position: relative;
          margin-bottom: 30px;
          padding: 0; } }
      @media only screen and (max-width: 767px) {
        .menu-navigation-wrap .menu-navigation li a {
          display: block; } }
    .menu-navigation-wrap .menu-navigation .summary-item {
      position: relative; }
      @media only screen and (max-width: 767px) {
        .menu-navigation-wrap .menu-navigation .summary-item .link {
          display: none; } }
      .menu-navigation-wrap .menu-navigation .summary-item .summary-list {
        display: none;
        background: linear-gradient(45deg, #9dcbff 31%, #69fbff);
        border-radius: 50px;
        padding: 20px;
        position: absolute;
        left: 0;
        top: 30px; }
        @media only screen and (max-width: 767px) {
          .menu-navigation-wrap .menu-navigation .summary-item .summary-list {
            display: block;
            position: static;
            background: transparent;
            padding: 0; } }
        @media only screen and (max-width: 767px) {
          .menu-navigation-wrap .menu-navigation .summary-item .summary-list li {
            border-bottom: 1px solid #000;
            border-top: 1px solid #000; } }
      .menu-navigation-wrap .menu-navigation .summary-item a {
        padding-bottom: 20px; }
        @media only screen and (max-width: 767px) {
          .menu-navigation-wrap .menu-navigation .summary-item a {
            padding-bottom: 0; } }
      .menu-navigation-wrap .menu-navigation .summary-item:hover .summary-list {
        display: block; }

@media only screen and (max-width: 767px) {
  .show-menu {
    right: 0; } }

.btn-menu {
  display: none;
  position: absolute;
  top: 14px;
  right: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  border: none; }
  @media only screen and (max-width: 767px) {
    .btn-menu {
      display: block; } }
  .btn-menu span {
    background: #000;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    transform: translate(0, -50%);
    top: 50%; }
  .btn-menu .bottom {
    top: auto;
    bottom: 0; }
  .btn-menu .top {
    bottom: 0; }
  .btn-menu.active {
    background: transparent; }
    .btn-menu.active .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0; }
    .btn-menu.active .middle {
      opacity: 0; }
    .btn-menu.active .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg); }

.block-area {
  margin-bottom: 100px; }

.title-block {
  text-align: center;
  box-shadow: 0 0 28px 0 rgba(34, 60, 80, 0.2);
  background: #fff;
  border-radius: 50px;
  padding: 20px 0;
  margin-bottom: 40px;
  background: linear-gradient(45deg, #9dcbff 31%, #69fbff); }
  @media only screen and (max-width: 767px) {
    .title-block {
      margin-bottom: 20px; } }
  .title-block h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .title-block h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px; } }
  @media only screen and (max-width: 767px) {
    .title-block a {
      font-size: 12px; } }

.question {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px; }
  @media only screen and (max-width: 767px) {
    .question {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 5px; } }

strong {
  font-size: 16px; }

.answer {
  margin-bottom: 50px; }
  @media only screen and (max-width: 767px) {
    .answer {
      margin-bottom: 20px; } }

.img-area {
  box-shadow: 0 0 28px 0 rgba(34, 60, 80, 0.2);
  background: #fff;
  border-radius: 50px;
  padding: 30px;
  overflow: hidden;
  max-width: 550px;
  margin: 30px 0 20px; }
  .img-area h3 {
    margin-bottom: 20px; }

.mobile {
  display: none; }

fieldset {
  border: 2px groove #f0f0f0;
  padding: 20px; }
