$blue: #9dcbff;
$white: #fff;
$light-turquoise: #6CF8FF;
$linear-gradient: linear-gradient(45deg, rgb(157, 203, 255) 31%, rgb(105, 251, 255));
$box-shadow-title: 0 0 28px 0 rgba(34, 60, 80, 0.2);
$black: #000;